@font-face {
    font-family: 'Verdana';
    src: local('Verdana'),
        url('../fonts/Verdana.ttf') format('truetype');
}
html{
    height: 100%;
}
    body {
    font-family: 'Verdana';
    background-image: url("../img/fon.png");
    background-size: cover;
    /* margin-bottom: 65px; */
    }
    .container{
        max-width: 1366px;
        max-height: 768px;
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0 auto;
        /* text-align: center; */      
        overflow: visible;
    }
    header{
        display: inline-block;
        height: 54px;
        background-color: #00000080;
        width: 100%;
    }
    .name-header{
        float: left;
        margin: 15px 0 0 81px;
    }
    .name-header p{
        font-size: 20px;
        line-height: 21px;
        color: #ffffff;
        font-weight: bold;
    }
    .name-header p:hover{
        color: #3cb878;
    }
    .right{
        float: right;
        display: flex;
        justify-content: space-between;
        width: 440px;
    }
    .header-icons{
        display: flex;
        justify-content: space-between;
        width: 121px;
        margin-top: 15px;
    }
    .bg-calendar{
        width: 19px; 
        height: 19px;
        background: url('../img/css_sprites.png') -106px -10px;
    }
    .bg-calendar:hover{
        width: 19px; 
        height: 19px;
        background: url('../img/css_sprites.png') -106px -49px;
    }
    .bg-forum{
        width: 28px; 
        height: 20px;
        background: url('../img/css_sprites.png') -10px -10px;
    }
    .bg-forum:hover{
        width: 28px; 
        height: 20px;
        background: url('../img/css_sprites.png') -58px -10px;
    }
    .bg-journey{
        width: 20px; 
        height: 20px;
        background: url('../img/css_sprites.png') -10px -50px;
    }
    .bg-journey:hover{
        width: 20px; 
        height: 20px;
        background: url('../img/css_sprites.png') -50px -50px;
    }
    .welcome{
        color: #ffffff;
        display: flex;
        font-size: 14px;
        line-height: 21px;
        margin: 16px 75px 0 20px;
        padding-left: 25px;
        border-left: 1px solid #312f2f;
    }
    .log, .sign{
        text-decoration: none;
        color: #3cb878;
    }
    main{
        display: flex;
        width: 100%;
        justify-content: center;
        /* align-items: center; */
        margin-bottom: 34px;
    }
    form{
        background-color: #ffffff;
        border-radius: 13px;
        max-width: 440px;
        margin-top: 60px;
        padding: 30px 60px 0 60px;
        align-items: center; 
    }
    .square{
        background:#3cb878;
        position: absolute;
        height: 18px;
        width: 18px;
        margin-left: -60px;
        margin-top: 3px;
    }
    .sign-f{
        display: flex;
        justify-content: space-between;
    }
    #sign{
        font-size: 20px;
        line-height: 21px;
        color: #434343;
    }
    .login{
        font-size: 14px;
        line-height: 21px;
        color: #3cb878;
        text-decoration: none;
        transition-property: font-size;
    }
    .login:hover{
        font-size: 16px;
    }
    .login:hover, .sign:hover, .log:hover{
        text-decoration: underline;
    }
    .accounts{
        display: flex;
        justify-content: space-between;
        margin-top: 14px;
    }
    button{
        width: 158px;
        height: 46px;
    }
    .facebook{
        font-family: "Verdana";
        background-color: #305db8;
        border: 0;
        border-radius: 3px;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;     
        font-size: 16px;
        line-height: 21px;  
    }
    .facebook:hover{
        background-color: #264B96;
    }
    .letter-f{
        padding: 3px 17px 0 15px;
        border-right: 1px solid #2b54a5;
        font-weight: bold;
    }
    .fb{
        padding-right: 10px;
    }
    .google{
        font-family: "Verdana";
        background-color: #df4a32;
        border: 0;
        border-radius: 3px;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;     
        font-size: 16px;
        line-height: 21px;
    }
    .google:hover{
        background-color: #C3412C;
    }
    .letter-g{
        padding: 3px 9px 0 8px;
        border-right: 1px solid #c8422d;
        font-weight: bold;
    }
    .gl{
        padding-right: 20px;
    }
    .line{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .line-center{
        /* margin: 0; */
        font-size: 14px;
        line-height: 21px;
        color: #848484;
        padding: 0 19px;
        background:#ffffff;
        display: inline-block;
    }
    h2{
        text-align: center;
        position: relative;
        z-index: 2;
    }
    h2:after{
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        border-top: solid 1px #eaeaea;
        z-index:-1;
    }
    input{
        width: 100%;
        height: 47px;
        margin-bottom: 9px;
        padding-left: 18px;
        border: 1px solid #eaeaea;
    }
    #marg{
        margin-bottom: 17px;
    }
    input:focus {
        filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.21));
        outline: none;
    }
    ::placeholder{
        color: #bebebe;
    }
    .check{
        margin-top: 10px;
        display: flex;
        width: 100%;
        /* float: left; */
    }
    .check input{       
        width: 20px;
        height: 20px;
        margin: 0;
    }
    .check label{    
        font-size: 14px;
        color: #434343;
    }
    #green{
        /* font-family: "Verdana"; */
        color: #3cb878;
        display: inline-block;
        text-decoration: none;
    }
    #green:hover{
        text-decoration: underline;
    }
    input[type="checkbox"]:checked, input[type="checkbox"]:not(:checked){
        position: absolute;
        left: -9999px;
    }
    input[type="checkbox"]:checked + label, input[type="checkbox"]:not(:checked) + label {
        display: inline-block;
        position: relative;
        padding-left: 33px;
        line-height: 21px;
        /* cursor: pointer; */
    }
    input[type="checkbox"]:checked + label:before, input[type="checkbox"]:not(:checked) + label:before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 20px;
        height: 20px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
    }
    input[type="checkbox"]:checked + label:before, input[type="checkbox"]:not(:checked) + label:before {
        border-radius: 2px;
    }
    input[type="checkbox"]:checked + label:after, input[type="checkbox"]:not(:checked) + label:after {
        content: "";
        position: absolute;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    input[type="checkbox"]:checked + label:after, input[type="checkbox"]:not(:checked) + label:after {
        left: 4px;
        top: 6px;
        width: 11px;
        height: 7px;
        border-radius: 1px;
        border-left: 4px solid #3cb878;
        border-bottom: 4px solid #3cb878;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    input[type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
    }
    input[type="checkbox"]:checked + label:after{
        opacity: 1;
    }
    #create{
        font-family: "Verdana";
        font-size: 16px;
        color: #ffffff;
        line-height: 21px;
        width: 100%;
        margin-top: 28px;
        margin-bottom: 32px;
        background-color: #3cb878;
        border: 0;
        border-radius: 3px;  
    }
    #create:hover{
        background-color: #329A65;
    }